.chartist-tooltip {
  position: absolute;
  background: #ffffff;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  font-family: sans-serif;
  margin: 5px;
}
.tooltip-value {
  font-size: 120%;
}

.ct-series-b .ct-line {
  stroke: blue;
}
.ct-series-b .ct-point {
  stroke: blue;
}
#day {
	display: none;
}